<div class="p-4">
  <h4 class="fst-italic"><%= t 'articles.elsewhere'%></h4>
  <ol class="list-unstyled">
    <li><a href="http://github.com/vinicioboniatti" target="_blank">Git Hub</a></li>
    <li><a href="https://www.linkedin.com/in/vinicioboniatti/" target="_blank" >Linkedin</a></li>
  </ol>
</div>
