<p>
  <strong><%= t('categories.new.title')%></strong>
  <%= @category.name %>
</p>
<%= link_to t('categories.new.edit.title'), edit_category_path(@category) %> |
<%= link_to t('categories.new.back.title'), categories_path %>
